{
    "checks": {
        "check-cpu": {
            "command": "check-cpu.rb -w 95 -c 99",
            "interval": 60,
            "occurrences": 5,
            "refresh": 1800,
            "subscribers": ["sensu_masters", "zones"],
            "handlers": ["mailer"],
            "contact": "infra"
        }
    }
}
