{
    "checks": {
        "check-crond-running": {
            "command": "check-process.rb -p crond",
            "interval": 60,
            "refresh": 1800,
            "subscribers": ["sensu_masters", "zones"],
            "handlers": ["mailer"],
            "contact": "infra"
        }
    }
}
