{
    "checks": {
        "check-supervisord-running": {
            "command": "check-process.rb -p supervisord",
            "interval": 60,
            "refresh": 1800,
            "subscribers": ["supervisord"],
            "handlers": ["mailer", "slack"],
            "contact": "infra"
        }
    }
}
