{
    "checks": {
        "check-load": {
            "command": "check-load.rb -w 4,8,16 -c 8,16,32",
            "interval": 60,
            "refresh": 1800,
            "subscribers": ["sensu_masters", "zones"],
            "handlers": ["mailer"],
            "contact": "infra"
        }
    }
}
