{
    "checks": {
        "check-mailq": {
            "command": "check-mailq.rb -w 600 -c 1000",
            "interval": 600,
            "refresh": 18000,
            "subscribers": ["postfix"],
            "handlers": ["mailer"],
            "contact": "infra"
        }
    }
}
