{
    "handlers": {
        "mailer": {
            "type": "pipe",
            "command": "/opt/sensu/embedded/bin/handler-mailer.rb"
        }
    },
    "mailer": {
        "mail_from": "{{ handler_mail_from }}",
        "mail_to": "{{ handler_mail_to }}"
    }
}
