{
    "checks": {
        "metrics-memory-percent": {
            "type": "metric",
            "command": "metrics-memory-percent.rb",
            "interval": 60,
            "subscribers": ["sensu_masters", "zones"],
            "handlers": ["graphite"]
        }
    }
}
