{
    "checks": {
        "metrics-mailq": {
            "type": "metric",
            "command": "metrics-mailq.rb",
            "interval": 60,
            "subscribers": ["postfix"],
            "handlers": ["graphite"]
        }
    }
}
