{
    "checks": {
        "metrics-cpu-pcnt-usage": {
            "type": "metric",
            "command": "metrics-cpu-pcnt-usage.rb",
            "interval": 60,
            "subscribers": ["sensu_masters", "zones"],
            "handlers": ["graphite"]
        }
    }
}
